
<%= form_for(@author) do |form| %>
 <div>
    <%= form.label "Name", style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label "Email:", style: "display: block" %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label "Library:",style: "display: block" %>
     <%= collection_select(:author, :library_id, Library.all, :id, :name) %>

  </div>
  <div>
  <p>
    <%= form.submit %>
  </div>
  <% end %>
  <%= link_to "Back", authors_path %>